.t,
.tt,
.ttt {
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans SC', sans-serif;
}
.t {
    font-size: 1.8em;
    margin-top: 3em;
}
.ttt {
    font-size: 1.6em;
}
.s {
    text-indent: -3em;
    padding-left: 3em;
}
.a,
.aa,
.aaa {
    font-family: 'Noto Serif SC', serif;
}
.a {
    font-weight: bold;
    font-family: 'Noto Sans SC', sans-serif;
    text-indent: -2em;
    padding-left: 2em;
}

.aa {
    text-indent: -2em;
    padding-left: 3em;
}
.aaa {
    text-indent: -1.4em;
    padding-left: 4em;
}
p {
    margin-top: -.8em;
}