.fsbtn {
    margin-left: 1em;
    margin-top: 1em;
}

#text {
    margin-left: -1em;
    margin-right: -1em;
}

.e,
.ee,
.eee,
.t,
.tt,
.ttt {
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans SC', sans-serif;
    text-indent: 0;
    margin-top: 0.7em;
}
.t {
    font-size: 1.45em;
}
.tt {
    font-size: 1.3em;
}
.ttt {
    font-size: 1.15em;
    line-height: 1.1em;
}
.s {
    text-indent: -3em;
    padding-left: 4em;
}
.aa,
.aaa,
.aaaa,
.aaaaa,
.aaaaaa,
.s {

}
.a {
    font-weight: bold;
    font-family: 'Noto Sans SC', sans-serif;
    text-indent: -2em;
    padding-left: 2em;
}

.aa {
    text-indent: -2em;
    padding-left: 3em;
}
.aaa {
    text-indent: -1.55em;
    padding-left: 4em;
}
.aaaa {
    text-indent: -1.55em;
    padding-left: 5em;
}
.aaaaa {
    text-indent: -3em;
    padding-left: 6.5em;
}
.aaaaaa {
    text-indent: -2.55em;
    padding-left: 7.5em;
}
.m {
    text-indent: 0;
    margin-top: 3em;
    font-weight: bold;
    font-family: 'Noto Sans SC', sans-serif;
}
.e {
    font-size: 1.3em;
}
.ee {
    font-size: 1.2em;
}
.eee {
    font-size: 1.1em;
}
.eeee {
    font-size: 1.1em;
    text-align: center;
    font-family: 'Noto Sans SC', sans-serif;
    text-indent: 0;
    margin-top: 1em;
}
p {
    margin-top: -.7em;
    text-indent: 2em;
    line-height: 1.3em;
}
